---
layout: page
permalink: /categories/
title: Categories
order: 2
---
<hr class="slender">
<div id="archives">
{% for category in site.categories %}
  <div class="archive-group">
    {% capture category_name %}{{ category | first }}{% endcapture %}
    <div id="#{{ category_name | slugize }}"></div>
    <p></p>

    <h3 class="category-head">Posts about {{ category_name }}</h3>
    <a name="{{ category_name | slugize }}"></a>
    {% for post in site.categories[category_name] %}
    <ul>
    <article class="archive-item">
      <li class="contrast"><a href="{{ site.baseurl }}{{ post.url }}">{{post.title}}</a></li>
    </article>
    </ul>
    {% endfor %}
  </div>
{% endfor %}
</div>