---
layout: full-width
title: Kirill Dubovikov
# Note that this index page uses a full-width layout!
order: 0
---
	<div id="canvas" style="width: 100vw; height: 100vh; z-index: -9999; position: absolute"></div>
  <ul class="content-listing">
    {% for post in site.posts %}      
        {% assign num_words = post.content | strip_html | number_of_words %}
        {% assign minutes = num_words | divided_by: 200.0 %}
        {% assign minutes_f = num_words | divided_by: 200.0 %}
        {% assign minutes_i = num_words | divided_by: 200 %}
        {% assign diff = minutes_f | minus: minutes_i %}
        {% if diff >= 0.5 %}
            {% assign minutes = minutes_i + 1 %}
        {% else %}
            {% assign minutes = minutes_i %}
        {% endif %}
        {% if minutes <= 1 %}
            {% assign reading_time = '1' | append: ' minute' %}
        {% else %}
            {% assign reading_time = minutes | append: ' minutes' %}
        {% endif %}

        <li class="listing">
          {% comment %} <hr class="slender"> {% endcomment %}
          <a href="{{ post.url | prepend: site.baseurl }}"><h2 class="contrast">{{ post.title }}</h2></a>
          <span class="smaller"><i class="far fa-clock"></i> {{reading_time}}</span><br/>
          <div>{{ post.excerpt }}</div> 
        </li>
    {% endfor %}
  </ul>